*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
}

body{

    background:var(--color-bg);

    color:var(--color-text);

    font-family:var(--font-body);

    overflow:hidden;

}

#app{

    display:grid;

    height:100vh;

    grid-template-columns:280px 1fr;

    grid-template-rows:

        72px

        1fr

        90px;

    grid-template-areas:

        "sidebar topbar"

        "sidebar content"

        "player player";

}

#sidebar{

    grid-area:sidebar;

    background:var(--color-surface);

    border-right:1px solid var(--color-border);

}

#topbar{

    grid-area:topbar;

    background:var(--color-surface);

    border-bottom:1px solid var(--color-border);

}

#content{

    grid-area:content;

    overflow:auto;

    padding:40px;

}

#player{

    grid-area:player;

    background:var(--color-surface);

    border-top:1px solid var(--color-border);

}
