h1,h2,h3,h4{

    font-family:var(--font-heading);

}

h1{

    font-size:var(--font-xl);

    margin-bottom:var(--space-5);

}

small{

    color:var(--color-text-muted);

}

a{

    text-decoration:none;

    color:inherit;

}

.material-symbols-rounded{

    font-size:22px;

    user-select:none;

}

button{

    font:inherit;

    border:none;

    cursor:pointer;

}

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-thumb{

    background:var(--color-surface-3);

    border-radius:999px;

}

::-webkit-scrollbar-thumb:hover{

    background:var(--color-accent);

}

.icon-button{

    width:42px;

    height:42px;

    display:grid;

    place-items:center;

    background:transparent;

    border-radius:50%;

    color:var(--color-text-muted);

    transition:.2s;

}

.icon-button:hover{

    background:var(--color-surface-2);

    color:white;

}
